<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Personal Finance" parallel="false">
  <test name="Startup tests">
    <classes>
      <class name="com.bryan.finance.program.PersonalFinanceTest"/>
      <class name="com.bryan.finance.log.AppLoggerTest"/>
      <class name="com.bryan.finance.utility.PathsTest"/>
      <class name="com.bryan.finance.view.util.LoadingTest"/>
    </classes>
  </test>
  <test name="Database Actions">
    <classes>
      <class name="com.bryan.finance.persistance.ConnectionFactoryTest"/>
    </classes>
  </test>
  <test name="Authentication">
    <classes>
      <class name="com.bryan.finance.view.AuthenticationTest"/>
    </classes>
  </test>
  <test name="Main Menu">
    <classes>
      <class name="com.bryan.finance.view.MainMenuTest"/>
    </classes>
  </test>
  <test name="OS Verification">
    <classes>
      <class name="com.bryan.finance.utility.OperatingSystemTest"/>
    </classes>
  </test>
</suite>