<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Personal Finance" parallel="false">
  <test name="Startup tests">
    <classes>
      <class name="com.bryan.finance.program.PersonalFinanceTest"/>
      <class name="com.bryan.finance.log.AppLoggerTest"/>
      <class name="com.bryan.finance.utility.PathsTest"/>
    </classes>
  </test>
  <test name="GUI">
    <classes>
      <class name="com.bryan.finance.view.MainMenuTest"/>
    </classes>
  </test>
  <test name="OS Verification">
    <classes>
      <class name="com.bryan.finance.utility.OperatingSystemTest"/>
    </classes>
  </test>
</suite>